.body-186691 {
    width: 1440px;
    height: 4022px;
    overflow: hidden;
    background: #111827;
    margin: 0 auto;  // 추가
    position: relative;  // 추가
    .main {
        position: absolute;
        top: 65px;
        left: 0px;
        width: 1440px;
        height: 3639px;
        background: rgba(0, 0, 0, 0);
        .section {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 1440px;
            height: 1024px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 0px;
            padding: 64px 0px 0px 0px;
            background: rgba(0, 0, 0, 0);
            .div {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 1440px;
                height: 1024px;
                overflow: hidden;
                background: rgba(0, 0, 0, 0);
                .img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 1440px;
                    height: 1024px;
                    opacity: 0.4000000059604645;
                    background: url(https://image-resource.creatie.ai/145871968104183/145871968104185/a982ef3f4fb00b1b72498b0346af71fb.png), rgba(0, 0, 0, 0);
                    object-fit: cover;
                    background-size: cover;
                }
            }
            .div-1 {
                position: absolute;
                top: 77px;
                left: 0px;
                width: 1440px;
                height: 936px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                flex-wrap: wrap;
                row-gap: 10px;
                column-gap: 10px;
                padding: 128px 16px 128px 16px;
                background: rgba(0, 0, 0, 0);
                .div-2 {
                    position: absolute;
                    top: 128px;
                    left: 188px;
                    width: 1063px;
                    height: 680px;
                    background: rgba(0, 0, 0, 0);
                    .div-3 {
                        position: absolute;
                        top: 223px;
                        left: 26px;
                        width: 680px;
                        height: 234px;
                        background: rgba(0, 0, 0, 0);
                        .h1 {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 680px;
                            height: 72px;
                            background: rgba(0, 0, 0, 0);
                            .future-is-now {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 724px;
                                height: 72px;
                                text-shadow: 0px 0px 30px rgba(0, 255, 136, 1), 0px 0px 20px rgba(0, 255, 136, 1), 0px 0px 10px rgba(0, 255, 136, 1);
                                white-space: nowrap;
                                color: #F9FAFB;
                                font-family: "Orbitron";
                                font-size: 72px;
                                line-height: 72px;
                                font-weight: 700;
                            }
                        }
                        .p {
                            position: absolute;
                            top: 96px;
                            left: 0px;
                            width: 680px;
                            height: 56px;
                            background: rgba(0, 0, 0, 0);
                            .experience-the-next-generation-of-digital-innovation-where-technology-meets-imagination-in-the-most-spectacular-way {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 237px;
                                height: 56px;
                                white-space: nowrap;
                                color: #FFFFFF;
                                font-family: "Roboto";
                                font-size: 20px;
                                line-height: 28px;
                                font-weight: 500;
                            }
                        }
                        .div-4 {
                            position: absolute;
                            top: 184px;
                            left: 0px;
                            width: 680px;
                            height: 50px;
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            align-items: start;
                            flex-wrap: wrap;
                            row-gap: 0px;
                            background: rgba(0, 0, 0, 0);
                            .button {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 146.06px;
                                height: 50px;
                                border-radius: 4px;
                                display: flex;
                                flex-direction: column;
                                justify-content: start;
                                align-items: start;
                                flex-wrap: wrap;
                                row-gap: 10px;
                                column-gap: 10px;
                                padding: 12px 32px 12px 32px;
                                background: #00FFFF;
                                .get-started {
                                    position: absolute;
                                    top: 13px;
                                    left: 31.53px;
                                    width: 83px;
                                    height: 24px;
                                    white-space: nowrap;
                                    color: #000000;
                                    font-family: "Roboto";
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 700;
                                    text-align: center;
                                }
                            }
                            .button-1 {
                                position: absolute;
                                top: 0px;
                                left: 162.06px;
                                width: 148.08px;
                                height: 50px;
                                border-radius: 4px;
                                display: flex;
                                flex-direction: column;
                                justify-content: start;
                                align-items: start;
                                flex-wrap: wrap;
                                row-gap: 10px;
                                column-gap: 10px;
                                padding: 12px 32px 12px 32px;
                                background: rgba(255, 255, 255, 0);
                                border: 1px solid #FFFFFF;
                                .learn-more {
                                    position: absolute;
                                    top: 13px;
                                    left: 32.54px;
                                    width: 83px;
                                    height: 24px;
                                    white-space: nowrap;
                                    color: #FFFFFF;
                                    font-family: "Roboto";
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 700;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .section-1 {
            position: absolute;
            top: 1024px;
            left: 0px;
            width: 1440px;
            height: 872px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
            padding: 96px 0px 96px 0px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(17, 24, 39, 1) 100%);
            .div-5 {
                position: absolute;
                top: 96px;
                left: 0px;
                width: 1440px;
                height: 680px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                flex-wrap: wrap;
                row-gap: 10px;
                column-gap: 10px;
                padding: 0px 16px 0px 16px;
                background: rgba(0, 0, 0, 0);
                .div-6 {
                    position: absolute;
                    top: 0px;
                    left: 187px;
                    width: 1067px;
                    height: 680px;
                    background: rgba(0, 0, 0, 0);
                    .div-7 {
                        position: absolute;
                        top: 212px;
                        left: 24px;
                        width: 414px;
                        height: 402px;
                        background: rgba(0, 0, 0, 0);
                        .h2 {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 680px;
                            height: 40px;
                            background: rgba(0, 0, 0, 0);
                            .the-future-of-technology {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 428px;
                                height: 40px;
                                text-shadow: 0px 0px 30px rgba(0, 255, 136, 1), 0px 0px 20px rgba(0, 255, 136, 1), 0px 0px 10px rgba(0, 255, 136, 1);
                                white-space: nowrap;
                                color: #F9FAFB;
                                font-family: "Orbitron";
                                font-size: 36px;
                                line-height: 40px;
                                font-weight: 700;
                            }
                        }
                        .p-1 {
                            position: absolute;
                            top: 64px;
                            left: 0px;
                            width: 680px;
                            height: 56px;
                            background: rgba(0, 0, 0, 0);
                            .were-building-the-next-generation-of-digital-experiences-our-products-combine-cutting-edge-technology-with-intuitive-design {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 404px;
                                height: 224px;
                                white-space: nowrap;
                                color: #FFFFFF;
                                font-family: "Roboto";
                                font-size: 20px;
                                line-height: 28px;
                                font-weight: 500;
                            }
                        }
                    }
                    .magicon {
                        position: absolute;
                        top: 95px;
                        left: 534px;
                        width: 533px;
                        height: 519px;
                        background: url(https://image-resource.creatie.ai/145871968104183/145871968104185/c3e3e9ee49a844f1be2f8722c55efdf1.png);
                        object-fit: cover;
                        background-repeat: no-repeat;
                        background-size: 614px 614px;
                        background-position: -81px -95px;
                    }
                }
            }
        }
        .section-2 {
            position: absolute;
            top: 1896px;
            left: 0px;
            width: 1440px;
            height: 872px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
            padding: 96px 0px 96px 0px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(17, 24, 39, 1) 100%);
            .div-8 {
                position: absolute;
                top: 96px;
                left: 0px;
                width: 1440px;
                height: 680px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                flex-wrap: wrap;
                row-gap: 10px;
                column-gap: 10px;
                padding: 0px 16px 0px 16px;
                background: rgba(0, 0, 0, 0);
                .div-9 {
                    position: absolute;
                    top: 0px;
                    left: 184px;
                    width: 1068px;
                    height: 680px;
                    background: rgba(0, 0, 0, 0);
                    .div-10 {
                        position: absolute;
                        top: 0px;
                        left: 728px;
                        width: 680px;
                        height: 680px;
                        background: rgba(0, 0, 0, 0);
                        .div-11 {
                            position: absolute;
                            top: 161px;
                            left: -138px;
                            width: 518px;
                            height: 256px;
                            background: rgba(0, 0, 0, 0);
                            .h2-1 {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 680px;
                                height: 40px;
                                background: rgba(0, 0, 0, 0);
                                .the-future-of-technology-1 {
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 391px;
                                    height: 40px;
                                    text-shadow: 0px 0px 30px rgba(0, 255, 136, 1), 0px 0px 20px rgba(0, 255, 136, 1), 0px 0px 10px rgba(0, 255, 136, 1);
                                    white-space: nowrap;
                                    color: #F9FAFB;
                                    font-family: "Orbitron";
                                    font-size: 36px;
                                    line-height: 40px;
                                    font-weight: 700;
                                }
                            }
                            .p-2 {
                                position: absolute;
                                top: 64px;
                                left: 0px;
                                width: 680px;
                                height: 56px;
                                background: rgba(0, 0, 0, 0);
                                .were-building-the-next-generation-of-digital-experiences-our-products-combine-cutting-edge-technology-with-intuitive-design-1 {
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 385px;
                                    height: 112px;
                                    white-space: nowrap;
                                    color: #FFFFFF;
                                    font-family: "Roboto";
                                    font-size: 20px;
                                    line-height: 28px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    .magicon-1 {
                        position: absolute;
                        top: 73px;
                        left: 0px;
                        width: 534px;
                        height: 534px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .footer {
        position: absolute;
        top: 3704px;
        left: 0px;
        width: 1440px;
        height: 318px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        padding: 48px 0px 48px 0px;
        background: #000000;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.3);
        .div-12 {
            position: absolute;
            top: 49px;
            left: 0px;
            width: 1440px;
            height: 221px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
            padding: 0px 16px 0px 16px;
            background: rgba(0, 0, 0, 0);
            .div-13 {
                position: absolute;
                top: 0px;
                left: 16px;
                width: 1408px;
                height: 132px;
                background: rgba(0, 0, 0, 0);
                .div-14 {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 328px;
                    height: 132px;
                    background: rgba(0, 0, 0, 0);
                    .p-3 {
                        position: absolute;
                        top: 48px;
                        left: 0px;
                        width: 328px;
                        height: 24px;
                        background: rgba(0, 0, 0, 0);
                        .building-the-future-of-digital-experiences {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 291px;
                            height: 24px;
                            white-space: nowrap;
                            color: #E5E7EB;
                            font-family: "Roboto";
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 400;
                        }
                    }
                    .img-1 {
                        position: absolute;
                        top: -2px;
                        left: 0px;
                        width: 51px;
                        height: 51px;
                        background: url(https://image-resource.creatie.ai/145871968104182/145871968104184/196be19d382f282e4087a1d214b275ff.png), rgba(0, 0, 0, 0);
                        object-fit: cover;
                        background-size: cover;
                    }
                }
                .div-15 {
                    position: absolute;
                    top: 0px;
                    left: 360px;
                    width: 328px;
                    height: 132px;
                    background: rgba(0, 0, 0, 0);
                    .h3 {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 328px;
                        height: 28px;
                        background: rgba(0, 0, 0, 0);
                        .products {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 93px;
                            height: 28px;
                            white-space: nowrap;
                            color: #F9FAFB;
                            font-family: "Orbitron";
                            font-size: 18px;
                            line-height: 28px;
                            font-weight: 700;
                        }
                    }
                    .ul {
                        position: absolute;
                        top: 44px;
                        left: 0px;
                        width: 328px;
                        height: 88px;
                        background: rgba(0, 0, 0, 0);
                        .li {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 328px;
                            height: 24px;
                            background: rgba(0, 0, 0, 0);
                            .a {
                                position: absolute;
                                top: 2px;
                                left: 0px;
                                width: 113.88px;
                                height: 19px;
                                background: rgba(0, 0, 0, 0);
                                .neural-interface {
                                    position: absolute;
                                    top: -2px;
                                    left: 0px;
                                    width: 40px;
                                    height: 24px;
                                    white-space: nowrap;
                                    color: #E5E7EB;
                                    font-family: "Roboto";
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 400;
                                }
                            }
                        }
                        .li-1 {
                            position: absolute;
                            top: 32px;
                            left: 0px;
                            width: 328px;
                            height: 24px;
                            background: rgba(0, 0, 0, 0);
                            .a-1 {
                                position: absolute;
                                top: 2px;
                                left: 0px;
                                width: 84.17px;
                                height: 19px;
                                background: rgba(0, 0, 0, 0);
                                .quantum-ai {
                                    position: absolute;
                                    top: -2px;
                                    left: 0px;
                                    width: 40px;
                                    height: 24px;
                                    white-space: nowrap;
                                    color: #E5E7EB;
                                    font-family: "Roboto";
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 400;
                                }
                            }
                        }
                        .li-2 {
                            position: absolute;
                            top: 64px;
                            left: 0px;
                            width: 328px;
                            height: 24px;
                            background: rgba(0, 0, 0, 0);
                            .a-2 {
                                position: absolute;
                                top: 2px;
                                left: 0px;
                                width: 98.06px;
                                height: 19px;
                                background: rgba(0, 0, 0, 0);
                                .virtual-reality {
                                    position: absolute;
                                    top: -2px;
                                    left: 0px;
                                    width: 40px;
                                    height: 24px;
                                    white-space: nowrap;
                                    color: #E5E7EB;
                                    font-family: "Roboto";
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                .div-16 {
                    position: absolute;
                    top: 0px;
                    left: 720px;
                    width: 328px;
                    height: 132px;
                    background: rgba(0, 0, 0, 0);
                    .h3-1 {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 328px;
                        height: 28px;
                        background: rgba(0, 0, 0, 0);
                    }
                    .ul-1 {
                        position: absolute;
                        top: 44px;
                        left: 0px;
                        width: 328px;
                        height: 88px;
                        background: rgba(0, 0, 0, 0);
                        .li-3 {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 328px;
                            height: 24px;
                            background: rgba(0, 0, 0, 0);
                            .a-3 {
                                position: absolute;
                                top: 2px;
                                left: 0px;
                                width: 65.17px;
                                height: 19px;
                                background: rgba(0, 0, 0, 0);
                                .about-us {
                                    position: absolute;
                                    top: -2px;
                                    left: 0px;
                                    width: 64px;
                                    height: 24px;
                                    white-space: nowrap;
                                    color: #E5E7EB;
                                    font-family: "Roboto";
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 400;
                                }
                            }
                        }
                        .li-4 {
                            position: absolute;
                            top: 32px;
                            left: 0px;
                            width: 328px;
                            height: 24px;
                            background: rgba(0, 0, 0, 0);
                            .a-4 {
                                position: absolute;
                                top: 2px;
                                left: 0px;
                                width: 55px;
                                height: 19px;
                                background: rgba(0, 0, 0, 0);
                                .careers {
                                    position: absolute;
                                    top: -2px;
                                    left: 0px;
                                    width: 56px;
                                    height: 24px;
                                    white-space: nowrap;
                                    color: #E5E7EB;
                                    font-family: "Roboto";
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 400;
                                }
                            }
                        }
                        .li-5 {
                            position: absolute;
                            top: 64px;
                            left: 0px;
                            width: 328px;
                            height: 24px;
                            background: rgba(0, 0, 0, 0);
                            .a-5 {
                                position: absolute;
                                top: 2px;
                                left: 0px;
                                width: 55.91px;
                                height: 19px;
                                background: rgba(0, 0, 0, 0);
                                .contact {
                                    position: absolute;
                                    top: -2px;
                                    left: 0px;
                                    width: 56px;
                                    height: 24px;
                                    white-space: nowrap;
                                    color: #E5E7EB;
                                    font-family: "Roboto";
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                .div-17 {
                    position: absolute;
                    top: 0px;
                    left: 1080px;
                    width: 328px;
                    height: 132px;
                    background: rgba(0, 0, 0, 0);
                    .h3-2 {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 328px;
                        height: 28px;
                        background: rgba(0, 0, 0, 0);
                        .connect {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 84px;
                            height: 28px;
                            white-space: nowrap;
                            color: #F9FAFB;
                            font-family: "Orbitron";
                            font-size: 18px;
                            line-height: 28px;
                            font-weight: 700;
                        }
                    }
                    .div-18 {
                        position: absolute;
                        top: 44px;
                        left: 0px;
                        width: 328px;
                        height: 28px;
                    }
                }
            }
            .div-19 {
                position: absolute;
                top: 164px;
                left: 16px;
                width: 1408px;
                height: 57px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                flex-wrap: wrap;
                row-gap: 10px;
                column-gap: 10px;
                padding: 32px 0px 0px 0px;
                background: rgba(0, 0, 0, 0);
                border-width: 1px 0px 0px 0px;
                border-style: solid;
                border-color: rgba(0, 0, 0, 0.3);
                .p-4 {
                    position: absolute;
                    top: 33px;
                    left: 0px;
                    width: 1408px;
                    height: 24px;
                    background: rgba(0, 0, 0, 0);
                    .text--2024-cyber-future-all-rights-reserved {
                        position: absolute;
                        top: 0px;
                        left: 558.99px;
                        width: 290px;
                        height: 24px;
                        white-space: nowrap;
                        color: #E5E7EB;
                        font-family: "Roboto";
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
        }
    }
    .nav {
        position: absolute;
        top: 0.5px;
        left: 0px;
        width: 1440px;
        height: 65px;
        backdrop-filter: blur(12px);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.7);
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.4);
        .div-20 {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 1440px;
            height: 64px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
            padding: 0px 16px 0px 16px;
            background: rgba(0, 0, 0, 0);
            .div-21 {
                position: absolute;
                top: 10px;
                left: 16px;
                width: 1408px;
                height: 64px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 0px;
                background: rgba(0, 0, 0, 0);
                .frame-11 {
                    flex-shrink: 0;
                    width: 1411.34px;
                    height: 42.05px;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    column-gap: 314px;
                    row-gap: 0px;
                    .div-22 {
                        position: absolute;
                        top: 5.09px;
                        left: 5px;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        flex-wrap: wrap;
                        row-gap: 0px;
                        background: rgba(0, 0, 0, 0);
                        .img-2 {
                            position: absolute;
                            top: -10.1px;
                            left: -9.3px;
                            width: 65px;
                            height: 50px;
                            background: url(../public/Logo.png), rgba(0, 0, 0, 0);
                            object-fit: cover;
                            background-size: contain;
                        }
                    }
                    .div-23 {
                        position: absolute;
                        top: 0.5px;
                        left: 632px;
                        width: 611px;
                        height: 42px;
                        .frame-9 {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 611px;
                            height: 42px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            column-gap: 66px;
                            row-gap: 0px;
                            .home {
                                flex-shrink: 0;
                                width: 44px;
                                height: 24px;
                                white-space: nowrap;
                                color: #CEFFFD;
                                font-family: "Roboto";
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                            }
                            .about {
                                flex-shrink: 0;
                                width: 43px;
                                height: 24px;
                                white-space: nowrap;
                                color: #CEFFFD;
                                font-family: "Roboto";
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                            }
                            .journey {
                                flex-shrink: 0;
                                width: 58px;
                                height: 24px;
                                white-space: nowrap;
                                color: #CEFFFD;
                                font-family: "Roboto";
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                            }
                            .community {
                                flex-shrink: 0;
                                width: 82px;
                                height: 24px;
                                white-space: nowrap;
                                color: #CEFFFD;
                                font-family: "Roboto";
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                            }
                            .contact-1 {
                                flex-shrink: 0;
                                width: 56px;
                                height: 24px;
                                white-space: nowrap;
                                color: #CEFFFD;
                                font-family: "Roboto";
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                            }
                        }
                    }
                    .div-24 {
                        position: absolute;
                        top: 0.05px;
                        left: 1270px;
                        width: 138px;
                        height: 42px;
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        flex-wrap: wrap;
                        row-gap: 0px;
                        background: rgba(0, 0, 0, 0);
                        .button-2 {
                            position: absolute;
                            top: -0.05px;
                            left: -25.66px;
                            width: 79px;
                            height: 42px;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: start;
                            flex-wrap: wrap;
                            row-gap: 10px;
                            column-gap: 10px;
                            padding: 8px 16px 8px 16px;
                            background: #FF007F;
                            border: 1px solid #000000;
                            .connect-wallet {
                                position: absolute;
                                top: 9px;
                                left: 12.5px;
                                width: 55px;
                                height: 24px;
                                white-space: nowrap;
                                color: #FFFFFF;
                                font-family: "Roboto";
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                                text-align: center;
                            }
                        }
                        .button-3 {
                            position: absolute;
                            top: -0.05px;
                            left: 62.34px;
                            width: 79px;
                            height: 42px;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: start;
                            flex-wrap: wrap;
                            row-gap: 10px;
                            column-gap: 10px;
                            padding: 8px 16px 8px 16px;
                            background: #242535;
                            border: 1px solid #000000;
                            .connect-wallet-1 {
                                position: absolute;
                                top: 9px;
                                left: 20px;
                                width: 40px;
                                height: 24px;
                                white-space: nowrap;
                                color: #FFFFFF;
                                font-family: "Roboto";
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-3 {
        position: absolute;
        top: 2832px;
        left: 0px;
        width: 1440px;
        height: 872px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        padding: 96px 0px 96px 0px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(17, 24, 39, 1) 100%);
        .div-25 {
            position: absolute;
            top: 96px;
            left: 186px;
            width: 1084px;
            height: 680px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
            padding: 0px 16px 0px 16px;
            background: rgba(0, 0, 0, 0);
            .div-26 {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 1068px;
                height: 680px;
                background: rgba(0, 0, 0, 0);
                .div-27 {
                    position: absolute;
                    top: 212px;
                    left: 24px;
                    width: 680px;
                    height: 256px;
                    background: rgba(0, 0, 0, 0);
                    .h2-2 {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 680px;
                        height: 40px;
                        background: rgba(0, 0, 0, 0);
                        .the-future-of-technology-2 {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 362px;
                            height: 40px;
                            text-shadow: 0px 0px 30px rgba(0, 255, 136, 1), 0px 0px 20px rgba(0, 255, 136, 1), 0px 0px 10px rgba(0, 255, 136, 1);
                            white-space: nowrap;
                            color: #F9FAFB;
                            font-family: "Orbitron";
                            font-size: 36px;
                            line-height: 40px;
                            font-weight: 700;
                        }
                    }
                    .p-5 {
                        position: absolute;
                        top: 64px;
                        left: 0px;
                        width: 680px;
                        height: 56px;
                        background: rgba(0, 0, 0, 0);
                        .were-building-the-next-generation-of-digital-experiences-our-products-combine-cutting-edge-technology-with-intuitive-design-2 {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 487px;
                            height: 196px;
                            white-space: nowrap;
                            color: #FFFFFF;
                            font-family: "Roboto";
                            font-size: 20px;
                            line-height: 28px;
                            font-weight: 500;
                        }
                    }
                }
                .div-28 {
                    position: absolute;
                    top: 0px;
                    left: 534px;
                    width: 534px;
                    height: 534px;
                    background: rgba(0, 0, 0, 0);
                    .img-3 {
                        position: absolute;
                        top: 36px;
                        left: 0px;
                        width: 534px;
                        height: 534px;
                        background: url(https://image-resource.creatie.ai/145871968104183/145871968104185/f0526f37be48268cb3d5f8161df008f1.png), rgba(0, 0, 0, 0);
                        object-fit: cover;
                        background-size: cover;
                    }
                }
            }
        }
    }
}